APP_PORT: 5000
LOG_LEVEL: "debug"
DB_HOST: "localhost"
DB_PORT: 5433
DB_NAME: "contacts_db"
DB_USER: "dev"
DB_PASSWORD: ""
DB_POOL: 5
STATSD_APP_NAME: "contacts_api"
STATSD_PORT: "8125"
STATSD_ENABLED: "true"
STATSD_HOST: "localhost"
